@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html{
    scroll-behavior: smooth;
}


@layer base{
    li{
        @apply p-4 text-2xl
    }

    
    button{
        @apply text-white border bg-indigo-600 border-indigo-600 font-body
         hover:text-indigo-600 rounded-md
    }
    
}
@font-face{
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,600&display=swap');
}